@import "app/styles/global-variables.scss";

.header-wrapper {
  background-color: #e1e6eb;
  border-bottom: 1px solid rgba(30, 67, 88, 0.2);
  color: #333333;
  display: flex;
  .left-side {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 10px;
  }
  .menu-wrapper {
    height: 100%;
    width: 200px;
    padding: 10px 10px;
  }
  .popup{
      display:none;
  }
}

@media all and (max-width: 600px) {
  .header-wrapper {
    background-color: #e1e6eb;
    border-bottom: 1px solid rgba(30, 67, 88, 0.2);
    color: #333333;
    display: flex;
    .left-side {
      .title {
        font-weight: 600;
        font-size: 16px;
        padding: 10px 30px;
      }
    }
    .menu-wrapper {
      height: 100%;
      width: 150px;
      font-size: 10px;
      display:none;
    }
    .popup{
        display:block;
        padding: 10px 30px;
    }
  }
}
