<div class="header-wrapper">
  <div class="popup">
    <p-menu #menu [popup]="true" [model]="menuList"></p-menu>
    <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
  </div>
  <div class="left-side">
    <label class="title">Angular interview</label>
  </div>
  <div *ngFor="let menuItem of menuList" class="menu-wrapper">
    <app-menu-item [menuItem]="menuItem"></app-menu-item>
  </div>
</div>
