<p-table [value]="users" dataKey="id" editMode="row" >
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th class="priority-2">Email</th>
      <th class="priority-2">Address</th>
      <th class="priority-2">Birthdate</th>
      <th>Edit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="rowData">
        <td >{{ rowData.id }}</td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.name" required />
                </ng-template>
                <ng-template pTemplate="output">
                    {{ rowData.name }}
                </ng-template>
            </p-cellEditor>
        </td>
        <td class="priority-2" >
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.email" required />
                </ng-template>
                <ng-template pTemplate="output">
                    {{ rowData.email }}
                </ng-template>
            </p-cellEditor>
       </td>
       <td class="priority-2">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.address" required />
                </ng-template>
                <ng-template pTemplate="output">
                    {{ rowData.address }}
                </ng-template>
            </p-cellEditor>
        </td>
        <td class="priority-2" >
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.birthdate" required />
                </ng-template>
                <ng-template pTemplate="output">
                    {{ rowData.birthdate | date }}
                </ng-template>
            </p-cellEditor>
        </td>
      <td>
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
    <div class="buttons">
        <button class="button1" pButton type="button" label="Add" (click)="gotoRegister($event)"></button>
        <button class="button2" pButton type="button" label="Delete" (click)="deleteUser()"></button>
    </div>
