.button1{
 margin: 5px 5px 5px 5px;
}

tr{
  text-align: center;
}

:host ::ng-deep .priority-2, 
:host ::ng-deep .priority-3,
:host ::ng-deep .visibility-sm {
            display: none;
        }

    @media screen and (max-width: 39.938em) {
        :host ::ng-deep .visibility-sm {
            display: inline;
            }
        }

    @media screen and (min-width: 800px) {
        :host ::ng-deep .priority-2 {
            display: table-cell;
            }
        }

    @media screen and (min-width: 64em) {
        :host ::ng-deep .priority-3 {
            display: table-cell;
            }
        }
