@import "app/styles/global-variables.scss";

.menu-item-wrapper {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    outline:none;

    &:hover {
        background-color: $secondary-color-light;
    }
    
    .icon {
        flex: 0 0 40px;
    }

    .name {
        flex: 1 1 auto;
    }
}

@media all and (max-width: 700px) {
    .menu-item-wrapper {
        display: flex;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
    
        &:hover {
            background-color: $secondary-color-light;
        }
    
        .icon {
            flex: 0 0 20px;
        }
    
        .name {
            flex: 1 1 auto;
        }
    }
}