<div class="app-wrapper">
    <app-header class="header"></app-header>
    <div class="content-wrapper">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>