<div>
  <h1> Adding Users Form </h1>
<form #userForm="ngForm">
<div class="form-group">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText name="name" [(ngModel)]="Name" placeholder="Name">         
            </div>
        </div>
      </div>
</div>
<div  class="form-group">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText name="email" [(ngModel)]="Email" placeholder="Email">         
            </div>
        </div>
      </div>
</div>
<div  class="form-group">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input type="text" pInputText name="address" [(ngModel)]="Address" placeholder="Address">         
            </div>
        </div>
      </div>
</div>
<div  class="form-group">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-clock"></i></span>
                <input type="date" pInputText name="birthDate" [(ngModel)]="BirthDate" placeholder="BirthDate">         
            </div>
        </div>
      </div>
</div>
</form>
</div>
<div class="button">
    <button pButton type="submit" label="Submit"  (click)="onClick(userForm)" ></button> 
    <button type="button" pButton (click)="clear()" icon="pi pi-times" style="margin-left: 5px"  label="Clear"></button>
</div>
<p-messages [(value)]="msgs"></p-messages>


